/vendor
/node_modules
/gips-image-venv
/gips-import-venv
/produkter
/public/build

/.env
/.env.*
!/.env.example

/database/database.sqlite
/database/*.sqlite
/database/*.sql
*.sqlite
*.sql
*.zip
*.tar
*.gz
*.tgz
*.log
.DS_Store
.phpunit.result.cache

/public/hot
/public/storage
/public/produkter

/storage/*.key
/storage/app/backups
/storage/app/backups/*
/storage/app/releases
/storage/app/releases/*
/storage/logs/*
!/storage/logs/.gitkeep
/storage/framework/cache/*
!/storage/framework/cache/.gitkeep
/storage/framework/sessions/*
!/storage/framework/sessions/.gitkeep
/storage/framework/views/*
!/storage/framework/views/.gitkeep

/bootstrap/cache/*
!/bootstrap/cache/.gitkeep
