/vendor
/node_modules
/gips-image-venv

/.env
/.env.*
!/.env.example

/database/database.sqlite
*.sqlite
*.sql
*.zip
*.tar
*.gz
*.log
.DS_Store
.phpunit.result.cache

/public/hot
/public/storage

/storage/*.key
/storage/app/backups
/storage/logs/*
!/storage/logs/.gitkeep
/storage/framework/cache/*
!/storage/framework/cache/.gitkeep
/storage/framework/sessions/*
!/storage/framework/sessions/.gitkeep
/storage/framework/views/*
!/storage/framework/views/.gitkeep

/bootstrap/cache/*
!/bootstrap/cache/.gitkeep
